
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form method="post" action="/signup">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="">
        <button type="submit" >Signup</button>

    </form>
  </body>
</html>
